<section id="bio" class="bio-section bg-linen">
    <div class="bio-content-wrapper">
        <div class="headshot">
            <img src= {{site.profile_image}} alt="olivia tolliver headshot">
        </div>
        <div class="text">
            <h2 class="slide-right">About Me</h2>
            <p class="bio-role">Cornell University · Mechanical Engineering</p>
            <p class="bio-description">Hello! My name is Olivia Tolliver and I am a rising senior at 
                Cornell University Studying Mechanical Engineering.</p>
        </div>
    </div>
</section>