<!-- SECTION 4: Contact-->
<section id="contact" class= "contact-section">
    <h2>Let's Connect</h2>

    <div class="group">
      
        <form id="contact-form" action="https://formspree.io/f/{{site.formspree-key}}" method="POST">
            <label for="name">Name</label>
            <input type="text" id="name">

            <label for="email">Email</label>
            <input type="email" id="email" name="email">

            <label for="message">Message</label>
            <textarea id="message" cols = "30" rows="10" name="message"></textarea>

            <button type="submit">Send Message</button>
            <p id="form-success" style="display:none; color:blue;">✓ Message sent! I'll get back to you soon.</p>
        </form>
    </div>

    <script>
        var form = document.getElementById("contact-form");
        form.addEventListener("submit", function(e) {
            e.preventDefault();
            fetch(form.action, {
            method: "POST",
            body: new FormData(form),
            headers: { "Accept": "application/json" }
            }).then(function(response) {
            if (response.ok) {
                form.reset();
                document.getElementById("form-success").style.display = "block";
                window.location.href = "https://oliviatolliver.github.io/#contact";
            }
            });
        });
    </script>

  </section>