---
layout: wrapper
---

<article class="post-view">
    
    <div class="post-hero bg-dark">
        <div class="inner">
            <p class="eyebrow">{{ page.context}}</p>
            <h1 class="title">{{ page.title }}</h1>
            <p class="description">{{ page.description }}</p>
            <div class="skills-row">
                {% for skill in page.skills %}
                    <span class="skill-tag">{{ skill }}</span>
                {% endfor %}
            </div>
        </div>
    </div>
      
       
    {% assign folder_path = page.path | split: "/" | slice: 0, 2 | join: "/" %}
    {% assign image_path = "/" | append: folder_path | append: page['main-image'] %}       
    <div class="post-main-image">
        <img src="{{ image_path }}" alt="{{ page.title }} image">
    </div>

    <div class="post-content-area bg-linen">
        <div class="inner">
            {{content}}
        </div>
    </div>

</article>